{% extends "base.html" %}
{% block menu %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="big_title_category">Category</div>

    <div class="row">
        
        <div class="col-md-4 box_category">
            <div class="pictures_category"></div>
            <div class="title_category">Category</div>
        </div>

        <div class="col-md-4 box_category">
            <div class="pictures_category"></div>
            <div class="title_category">Category</div>
        </div>

        <div class="col-md-4 box_category">
            <div class="pictures_category"></div>
            <div class="title_category">Category</div>
        </div>

        <div class="col-md-4 box_category">
            <div class="pictures_category"></div>
            <div class="title_category">Category</div>
        </div>
    </div>
</div>


{% endblock %}