{% extends "base.html" %}
{% block menu %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% load static %}

<!-- Load script -->

<script src="{% static 'js/product_only.js' %}" defer></script>

<!-- Load script -->
    
    <div class="container_product">
        <div class="container">
            <div class="row home_products">
                <div class="col-md-6 container_products_img">
                    <div class="pictures_product"></div>
                </div>
                <div class="col-md-6 characteristic_product">
                    <div class="title_name_product">Name's products</div><br>
                    <div>
                        <select class="custom-select custom-select-lg mb-3" id="dimension">
                            <option selected value="">Dimension</option>
                            <option value="1">20X20X20</option>
                            <option value="2">20X20X20</option>
                            <option value="3">20X20X20</option>
                          </select>
                    </div>

                    <div class="checkbox">
                        <div class="title_color">Tube colors</div><br>
                        <form action="">
                            <select class="custom-select custom-select-lg mb-3" id="tube_colors">
                                <option selected vale="">Tube colors</option>
                                <option value="1">Red</option>
                                <option value="2">Yellow</option>
                                <option value="3">Blue</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="title_color">Coating</div><br>
                    <form action="">
                        <select class="custom-select custom-select-lg mb-3" id="coating">
                            <option selected value="">Coating</option>
                            <option value="1">Glass</option>
                            <option value="2">Wood</option>
                            <option value="3">Marble</option>
                        </select>
                    </form>
                </div>

                <div class="col-md-6">
                    <div class="title_color">Elbow color</div><br>
                    <form action="">
                        <select class="custom-select custom-select-lg mb-3" id="elbow_color">
                            <option selected value="">Elbow color</option>
                            <option value="1">Red</option>
                            <option value="2">Yellow</option>
                            <option value="3">Blue</option>
                        </select>
                    </form>
                </div>

                <div class="col-md-12">
                    <div class="title_color">Quantities</div><br>
                    <form action="">
                        <select class="custom-select custom-select-lg mb-3" id="quantities">
                            <option selected value="">Quantitities</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </form>
                </div>

                <div class="col-md-12 button_cart"><button id="button_cart">Add to cart</button></div>
            </div>
            
            {% include 'payements/payements.html' %}
        </div>
    </div>
{% endblock %}