{% extends "base.html" %}
{% block menu %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="container_cart">
            
            <div class="row">
                <div class="title_cart col-md-12">Name's product</div>

                <div class="characteristic_product_cart row">
                    <div class="col-10">
                        <ul>
                            <li>Dimension : 20x20X20</li>
                            <li>Tube colors : red</li>
                            <li>Elbow color :  yellow</li>
                            <li>Price : 250€</li>
                            <li>Qte : 1</li>
                        </ul>
                    </div>
                    

                    <div class="col-2 trash_cart">
                        <i class="fas fa-trash"></i>
                    </div>
                    
                </div>

                <div class="title_cart col-md-12">Name's product</div>

                <div class="characteristic_product_cart row">
                    <div class="col-10">
                        <ul>
                            <li>Dimension : 20x20X20</li>
                            <li>Tube colors : red</li>
                            <li>Elbow color :  yellow</li>
                            <li>Price : 250€</li>
                            <li>Qte : 1</li>
                        </ul>
                    </div>
                    

                    <div class="col-2 trash_cart">
                        <i class="fas fa-trash"></i>
                    </div>
                    
                </div>

                <span class="total_cart row container">
                    <div class="col-8">Total :</div>
                    <div class="col-4 value_tot">500€</div>
                </span>
            </div>
        
        </div>

        {% include 'payements/payements.html' %}
    </div>

{% endblock %}