{% extends "base.html" %}
{% block menu %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="container_failed">
        <div class="pic_failed"><img src="{% static 'img/assets/logo.png' %}" alt=""></div>
        <div class="text_failed">
            <h1>Cancelled</h1>
            <p>We are sorry but there was an error during your payment, please try again or report the bug to our support.</p>
        </div>
    </div>
</div>

{% include 'animation_objects.html' %}
{% endblock %}