{% load static %}

<div class="img_objects">
    <img src="{% static 'img/assets/objects1.jpg' %}" class="objects_style1 pos1" alt="">
    <img src="{% static 'img/assets/objects2.jpg' %}" class="objects_style2 pos2" alt="">
    <img src="{% static 'img/assets/objects3.jpg' %}" class="objects_style3 pos3" alt="">
    <img src="{% static 'img/assets/objects4.jpg' %}" class="objects_style4 pos5" alt="">
    <img src="{% static 'img/assets/objects5.jpg' %}" class="objects_style5 pos4" alt="">
    <img src="{% static 'img/assets/objects6.jpg' %}" class="objects_style6 pos6" alt="">
    <img src="{% static 'img/assets/objects7.jpg' %}" class="objects_style7 pos7" alt="">
    <img src="{% static 'img/assets/objects8.jpg' %}" class="objects_style8 pos8" alt="">
    <img src="{% static 'img/assets/objects9.jpg' %}" class="objects_style9 pos9" alt="">
    <img src="{% static 'img/assets/objects10.jpg' %}" class="objects_style10 pos10" alt="">
</div>